<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="backspace" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ul>
      <li>This is a university proejct! It's not for commercial use. All images stored are under reuse license. Please contact the me, <a href = "mailto: ahstrand@go.olemiss.edu">email</a> if you have any copyright claims.</li>
      <li>This ionic PWD app is a project in the course CS458 at University of Mississippi. Contact the creator and administrator, Aron Strandberg through 
        <a href = "mailto: ahstrand@go.olemiss.edu">email</a>.  </li>
      <li>The background video on the frontpage is a work of https://github.com/geeklearningio/gl-ionic-background-video</li>
      <li>For authentication the app is using https://github.com/angular/angularfire</li>
      <li>The guide https://devdactic.com/ionic-4-firebase-angularfire-2/ was used for setting up the authentication, you might find SIMILARITIES in my code.
        The angularfire docs have been primarily used.
      </li>
    </ul> 


  </ion-card>
</ion-content>
