<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="backspace" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Post a phone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item class="ion-margin-top">
      <ion-label position="stacked">Price <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="post.price" required placeholder="Set Price in USD" type="number" min="0"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label position="stacked">Phone number</ion-label>
      <ion-input [(ngModel)]="post.phone" placeholder="Alternative"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label position="stacked">Location <ion-text color="danger">*</ion-text></ion-label>
      <ion-select [(ngModel)]="post.location" value="Lafayette">
        <ion-select-option value="Alcorn">Alcorn</ion-select-option>
        <ion-select-option value="Benton">Benton</ion-select-option>
        <ion-select-option value="Clay">Clay</ion-select-option>
        <ion-select-option value="George">George</ion-select-option>
        <ion-select-option value="Harrison">Harrison</ion-select-option>
        <ion-select-option value="Jackson">Jackson</ion-select-option>
        <ion-select-option value="Lafayette">Lafayette</ion-select-option>
        <ion-select-option value="Marshall">Marshall</ion-select-option>
        <ion-select-option value="Newton">Newton</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label >Upload image</ion-label>
      <ion-input type="file" (change)="uploadImage($event.target.files)" accept="image/png, image/jpeg"></ion-input>
    </ion-item>
    <ion-item *ngIf="uploadState | async; let state">
      <ion-text *ngIf="state === 'running'" color="success" text-center>
        Processing...
      </ion-text>
      <ion-text *ngIf="state === 'success'" color="success" text-center>
        Uploaded!
      </ion-text>
      <ion-text *ngIf="state === 'error'" color="error" text-center>
        Something went wrong :(
      </ion-text>
      <ion-icon color="error" text-center name="close" (click)="removeImage()"></ion-icon>
    </ion-item>
    <section class="ion-padding">
      <ion-button (click)="addPost()" [disabled]="!post.price || !post.location">Post</ion-button>
      <ion-button color="medium" [routerLink]="['']" >Cancel</ion-button>
    </section>
    <ion-text color="error" text-center>{{error.error_msg}}</ion-text>
    <ion-text color="success" text-center>{{error.success_msg}}</ion-text>
  </ion-card>
</ion-content>
