<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="backspace" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Post a phone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item class="ion-margin-top">
      <ion-label position="stacked">Price <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="post.price" required placeholder="Set Price in USD" type="number" min="0"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label position="stacked">Phone number</ion-label>
      <ion-input [(ngModel)]="post.phone" placeholder="Alternative"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label position="stacked">Location <ion-text color="danger">*</ion-text></ion-label>
      <ion-select [(ngModel)]="post.location" value="Lafayette">
        <ion-select-option value="Alcorn">Alcorn</ion-select-option>
        <ion-select-option value="Benton">Benton</ion-select-option>
        <ion-select-option value="Clay">Clay</ion-select-option>
        <ion-select-option value="George">George</ion-select-option>
        <ion-select-option value="Harrison">Harrison</ion-select-option>
        <ion-select-option value="Jackson">Jackson</ion-select-option>
        <ion-select-option value="Lafayette">Lafayette</ion-select-option>
        <ion-select-option value="Marshall">Marshall</ion-select-option>
        <ion-select-option value="Newton">Newton</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label position="stacked">Image URL</ion-label>
      <ion-input [(ngModel)]="post.imgUrl" required placeholder="URL"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label >Upload image</ion-label>
      <ion-input type="file" (change)="uploadImage($event.target.files)" accept="image/png, image/jpeg"></ion-input>
      <progress max="100" [value]="(uploadPercent | async)"></progress>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-button>Take image</ion-button>
    </ion-item>
    <section class="ion-padding">
      <ion-button (click)="addPost()" [disabled]="!post.price || !post.location">Post</ion-button>
      <ion-button color="medium" [routerLink]="['']" >Cancel</ion-button>
    </section>
    <ion-text color="error" text-center>{{error.error_msg}}</ion-text>
    <ion-text color="success" text-center>{{error.success_msg}}</ion-text>
  </ion-card>
</ion-content>
